body {
  margin: 0px;
  overflow: hidden;
  color: black;
  text-align: center;
}

a {
  color: white;
}
a:hover{
  color: purple;
}

#scene-container {
  position: absolute;
  float: left;
  width: 75%;
  height: 100%;
}

.gui-container {
  position: absolute;
  top: 1em;
  right: 1em;
  max-width: 25%;
}