h3 {
  color: dodgerblue;
}

#scene-container {
  position: absolute;
  float: left;
  width: 100%;
  height: 100%;
}

.gui-container {
  position: absolute;
  background-color: transparent;
  top: 1em;
  right: 1em;
  width: 14em;
  z-index: 1;
}